aws {
    region = 'us-east-2'
    batch {

        jobRole = 'arn:aws:iam::512431263418:role/BatchJobRole'
  
    }
}




params {
    run               = null
    analysis          = null
    dev               = false
    number_of_inputs  = 2
    chr               = "chr22"
    if (params.dev) {
           params.path_s3 = "seqwell-dev/analysis"
         } else {
           params.path_s3 = "seqwell-analysis"
        }
}


docker {
    enabled = true
}



process {
    
    executor = 'awsbatch'
    queue = 'spot_low_priority'

    withName: get_chr {
        memory = '15.0G'
        cpus = 4
        container = '512431263418.dkr.ecr.us-east-1.amazonaws.com/bwa-samtools'
        jobDefinition = 'nextflow-batch-default'
    }

    
}