aws {
    region = 'us-east-2'
}


params {
    run               = null
    analysis          = null
    dev               = false
    number_of_inputs  = 2
    chr               = "chr22"
}


docker {
    enabled = true
}

aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

process {
    jobDefinition = 'nextflow-batch-default'
    executor = 'awsbatch'
    queue = 'spot_low_priority'

    withName: get_chr {
        memory = '15.0G'
        cpus = 4
        container = '512431263418.dkr.ecr.us-east-2.amazonaws.com/nextflow-runner:v1.1'
    }

    
}